doctype 5
html
	head
		title Asteroids in node
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')

		script(src='http://code.jquery.com/jquery-1.9.1.js')
		script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
		script(src='/javascripts/keymaster.min.js')
		script(src='/javascripts/asteroids.js')
		script(src='/javascripts/game.js')
	body
    
